*
#main {
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    min-height: 100vh;
}

body {
    font-family: Roboto, HelveticaNeue, Arial, sans-seriff;
    font-size: 10pt;
    
}

div {
    display: block;
}

header {
    display: flex;
    height: 48px;
    width: 100%;
}

.menu {
    text-align: center;
    -webkit-box-flex: 1;
    background-color: transparent;
    display: grid;
    grid-template-columns: 4px;
    grid-template-rows: repeat(3, 4px);
    gap: 1px;
    padding: 12px 16px;
}

.lines {
    background-color: #70757a;
    width: 18px;
    height: 2.2px;
}

#all-img {
    display: flex;
    overflow-x: hidden;
    margin-left: 10px;
}

.all-img-bt {
    color: #70757a;
    display: block;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    font-size: 12px;
    font-weight: 600;
    line-height: 36px;
    margin-right: 8px;
    padding: 0px 8px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.empty-div {
    -webkit-box-flex: 1;
    flex: 1 0 auto;
}

.app-profile {
    -webkit-box-flex: 0;
    position: relative;
    padding: 12px 14px;
    z-index: 1;
}

.dots {
    background-color: #70757a;
    border-radius: 50%;
}

#pattern-button {
    text-align: center;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(3, 4px);
    grid-template-rows: repeat(3, 4px);
    gap: 2px;
    margin-left: -20px;
}

#img-container {
    text-align: center;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
}

.smaller-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: relative;
    bottom: 23px;
    left: 10px;
}

#outer {
    -webkit-box-flex: 1;
    flex: 1;
}

#logo-container {
    text-align: center;
    margin: 36px auto 18px;
    width: 160px;
    line-height: 0;
}

.img-logo {
    height: 56px;
    aspect-ratio: auto 160 / 56;
    width: 160px;
}

.search-bar {
    margin: 8px;
}

.search-form {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    border: 1px solid lightgray;
    border-radius: 20px;
    max-width: 736px;
    overflow: hidden;
    width: 95%;
    z-index: 3;
}

.language {
    font-size: small;
    margin-bottom: 24px;
    min-height: 25px;
    text-align: center;
}

.text-lang {
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    margin-top: 30px;
}

#footer {
    background: #eaecf0;
    margin-top: auto;
    padding: 0;
    
}

.country {
    color: rgba(0,0,0,.54);
    padding-left: 10px;
    line-height: 35px;
    text-align: left;
    font-size: 16px;
    margin: 0;
}

.location {
        visibility: visible;
        border-top: 1px solid #dadce0;
        height: auto;
        line-height: 15px;
        margin: 0;
        min-height: 15px;
        padding: 15px 0;
        text-align: center;
        font-size: 13px;
        color: #70757a;
}

.footer-text {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #70757a;
}

.sets {
    display: inline-block;
    padding-left: 8px;
}
